.User {
  background-color: #be8157;
  border: 1px solid #00000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.329);
  text-align: left;
  color: #333;
  font-size: 16px;
}

.User p {
  margin: 5px 0;
}
